extends layout

block content
  h1= title
  p Welcome to #{title} 
  - var result = [{"Library_style":"Triangle","Library_type":"Glass","Library_size":6},{"Library_style":"Circle","Library_type":"Iron","Library_size":12},{"Library_style":"Square","Library_type":"Fiber","Library_size":19}]
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Library style: #{item["Library_style"]}  <br>  Library type: #{item["Library_type"]} <br> Library size: #{item["Library_size"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }